<!-- Showing product details for product: {{slug}} -->


<app-bottom-nav></app-bottom-nav>
<div class="main-container">
    <app-soup-banner [amount]="amount" [soup]="soup" ></app-soup-banner>
    <img src="{{soup.img}}" alt="{{soup.alt}}" class="soup-img">
    <div class="intro-wrapper">
        <h3>{{soup.name}}</h3>
        <hr>
        <h4>Pris: {{soup.price}} Kr</h4>
    </div>
    <div class="info-boxes">
        <div class="ingredients">
            <img src="../../../assets/images/svg/ingredients.svg" alt="icon of spice bowl">
            <h6>ingredienser</h6>
    <div class="ingredients-text">
    <p>{{soup.ingredients.ing}}</p>
    </div>
        

        </div>
        <div class="nutritional">
            <img src="../../../assets/images/svg/nutritional.svg" alt="icon of red heart">
            <h6>Näringsinnehåll</h6>
        <div class="nutritional-text">
            <p>Kalorier: {{soup.nutritional.calories}}</p>
            <p>Protein: {{soup.nutritional.protein}}</p>
            <p>Socker: {{soup.nutritional.sugar}}</p>
            <p>Fett: {{soup.nutritional.fat}}</p>
        </div>

        </div>
    </div>
    <div class="input">
        <div class="input-top">
            <p>Meddela köket</p>
            <img src="../../../assets/images/svg/chef.svg" alt="icon of chefs hat">
        </div>
        <form #kitchen="ngForm" [ngFormOptions]="{updateOn: 'blur'}">
        <textarea id="kitchen-form"class="text" name="kitchen" placeholder="ex allergisk mot nötter" ngModel></textarea>
        <div class="kitchen-message" *ngIf="kitchenNotified && kitchenNotified !== ''">
        <p>Ditt meddelande till köket har sparats</p>
        <img src="../../../assets/images/svg/checkmark.svg" alt="icon of checkmark">
        </div>  
        </form>
    </div>
    <div class="buttons">
       <button [ngStyle]="{ 'opacity': amount > 0 ? '100%' : '40%',
                            'pointer-events': amount > 0 ? '' : 'none'}" class="remove-btn" (click)="removeSoups()">Ta bort</button> 
       <button class="add-btn" (click)="addSoups(); submit(kitchen.value)">Lägg till</button>
    </div>
    <div *ngIf="updated" class="updated">
        <button (click)="removeValue(); this.router.navigate(['/order-overview'])">Tillbaka till orderöversikt</button>
    </div>
</div>

<!-- *ngIf="amount > 0" -->