<!-- Showing product details for product: {{slug}} -->



<div class="main-container">
    <img src="{{soup.img}}" class="soup-img">
    <div class="intro-wrapper">
        <h2>{{soup.name}}</h2>
        <hr>
        <h4>Pris: {{soup.price}} Kr</h4>
    </div>
    <div class="info-boxes">
        <div class="ingredients">
            <img src="../../../assets/images/svg/ingredients.svg">
            <h6>ingredienser</h6>

            <p>{{soup.ingredients}}</p>

        </div>
        <div class="nutritional">
            <img src="../../../assets/images/svg/nutritional.svg">
            <h6>Näringsinnehåll</h6>
            <p>{{soup.nutritional.calories}}</p>
            <p>{{soup.nutritional.protein}}</p>

        </div>
    </div>
    <div class="input">
        <div class="input-top">
            <p>Meddela köket</p>
            <img src="../../../assets/images/svg/chef.svg">
        </div>
        <textarea class="text" placeholder="ex allergisk mot nötter"> </textarea>

    </div>
    <div class="buttons">
        <!--  <button class="remove-btn">Ta bort</button> -->
        <button class="add-btn">Lägg till</button>
    </div>
</div>