.card-wrapper{
    background: #fff;
    max-width: 245px;
    /* height: 347px;; */
    padding: 20px;
    border-radius: 20px;;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    .soup-img{
    max-width: 100%;
    border-radius: 10px;;
    }

    .name-info-wrapper{

        h2{
            margin-bottom: 5px;;
        }

        p{
            margin: 0;
            font-size: 70%;
        }
    }

    .text-button-wrapper{
        display: flex;
        align-items: center;

        p{
            width: 80%;
        }
    }

    .add-btn{
        background: #32936F;
        border-style: none;
        height: 35px;
        width: 47px;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    }

    .time-price-wrapper{
        display: flex;
        justify-content: space-between;
    }

    .time-price-item{
        display: flex;
    }
    

    #time-icon{
        width: 23px;;
        margin-right: 10px;;
    }

    p{
        font-size: 80%;
        padding: 5px;;
    }
}