<app-bottom-nav></app-bottom-nav>
<div class="container">
    <h3>Kontakta oss</h3>

    <div class="card-wrapper">
        <h4>FAQ</h4>
        <div>
            <p>Vad är SouperHealthy?</p>
            <p>Kan jag betala med swish?</p>
            <p>Hur skapar jag ett konto?</p>
            <p>Vad kostar leveransen?</p>
            <p>Var levererar ni?</p>
            <p>Kan jag betala med swish?</p>
            <p>Jag vill jobba hos er!</p>
        </div>
    </div>

    <div class="card-wrapper">
        <div class="header">
            <h4>Maila oss</h4>
            <img src="../../../assets/images/svg/mail.svg" alt="mail logo" id="soup-logo" />
        </div>
        <div class="text-area">
            <p>Inte fått svar på din fråga? </p>  
            <p>Kontakta oss via mail, vi återkopplar inom 24 timmar.</p> 
            <a>support@souperhealthy.com</a>
        </div>
    </div>

    <div class="card-wrapper">
        <div class="header">
            <h4>Ring oss</h4>
            <img src="../../../assets/images/svg/telephone.svg" alt="mail logo" id="soup-logo" />
        </div>
        <p>08-230230230</p>
    </div>
   
    <div class="card-wrapper">
        <div class="header">
            <h4>Besök oss</h4>
            <img src="../../../assets/images/svg/pin.svg" alt="mail logo" id="soup-logo" />
        </div>
        <p class="text-area">Av soppa blir du varm, det blir du även av ett besök i vår fina restaurang, vi finns på Odengatan 5. 
            Varmt välkommen förbi!</p>
    </div>
</div>