<div class="container">
    <div class="wizard-container">
        <div class="content">
            <div class="circle" [style.background]="firstCircle()">
                <img src="../../../assets/images/svg/delivery-info.svg" id="icon">
            </div>
            <p>Leveransinfo</p>
        </div>
        <div class="content">
            <div class="circle" [style.background]="secondCircle()">
                <img src="../../../assets/images/svg/overview.svg" id="icon">
            </div>
            <p>Orderöversikt</p>
        </div>
        <div class="content">
            <div class="circle" [style.background]="secondCircle()">
                <img src="../../../assets/images/svg/card.svg" id="icon">
            </div>
            <p>Betalning</p>
        </div>
        <div class="content">
            <div class="circle" [style.background]="thirdCircle()">
                <img src="../../../assets/images/svg/confirm.svg" id="icon">
            </div>
            <p>Bekräftelse</p>
        </div> 
        
    </div>
</div>


