.container {
  position: fixed;
  width: 100%;
}

.wizard-container {
  display: flex;
  justify-content: center;
}

.circle {
  background: #bcbcbc;
  margin: 10px;
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
  font-size: 70%;
}

#icon {
  width: 20px;
  height: 20px;
}
