.container {
  position: fixed;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #efefef;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s ease-in-out;
  /*  border-bottom: 1px solid #d4d3d3; */
}

.content {
  display: flex;
  justify-content: space-around;
  color: black;
  font-size: 90%;
}
