<div class="container">
    <div class="header">
        <h2>Logga in</h2>
        <hr>
        <p>Anslut med</p>
    </div>
    <div class="button-wrapper">
        <button (click)="navigate()">
            <img src="../../../assets/images/svg/google.svg" alt="google icon">
            <p>Google</p>
        </button>
        <p id="or">Eller</p>
        <button (click)="navigate()">
            <img src="../../../assets/images/svg/guest.svg" id="guest-icon" alt="guest icon">
            <p>Gäst</p>
        </button>
    </div>
    <img src="../../../assets/images/svg/wave.svg" id="wave" alt="green wave">
</div>