<div class="container">
    <nav>
        <ul>
            <li>

                <a routerLink="/support">
                    <img src="../../../assets/images/support.svg" alt="support page" id="support-logo" />
                    <p>Support</p>
                </a>
            </li>
            <li>
                <a routerLink="/">
                    <img src="../../../assets/images/soup.svg" alt="soups" id="soup-logo" />
                    <p>Meny</p>
                </a>
            </li>
            <li>
                <a routerLink="#">
                    <img src="../../../assets/images/cart.svg" alt="shopping cart" id="soup-logo" />
                    <div class="text-circle-wrapper">
                        Kundvagn
                        <div class="circle">
                            <p>{{soupsStore.soups.length}}</p>
                        </div>
                    </div>



                </a>
            </li>
        </ul>
    </nav>
    <div class="container">