<div class="container">
    <div class="header">
        <h4>Feedback</h4>
        <img src="../../../assets/images/svg/feedback.svg">
    </div>
    <h5>Berätta gärna om din upplevelse för oss</h5>

    <div class="box-wrapper">
        <button class="box-content sad">
            <p>Missnöjd</p>
            <img src="../../../assets/images/svg/sad.svg">
        </button>
        <button class="box-content happy">
            <p>Nöjd</p>
            <img src="../../../assets/images/svg/happy.svg"> 
        </button>
    </div>
    <p>Hör gärna av dig till vår support om du vill ge oss ytterlioggare feeback.</p>
</div>