form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 55px;
  margin-bottom: 80px;

  .delivery-info-container {
    margin-bottom: 25px;
  }

  .input-container {
    margin-bottom: 20px;
    .input-content-container {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      p {
        margin: 0px;
      }

      img {
        width: 20px;
        max-height: 20px;
        margin-right: 10px;
      }
    }

    input {
      background: #e9e9e9;
      /* box-shadow: 0 0.06rem 0 0 rgba(44, 43, 63, 0.1); */
      border: 0px solid;
      border-radius: 4px;
      width: 294px;
      height: 39px;
    }
  }

  textarea-main {
    margin-bottom: 25px;
  }

  .textarea-container {
    .textarea-content-container {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      justify-content: space-between;

      p {
        margin: 0px;
      }

      img {
        width: 20px;
        max-height: 20px;
        margin-right: 10px;
      }

      #greeting {
        min-width: 30px;
        min-height: 30px;
      }
    }

    textarea {
      background: #f1f1f1;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border: 0px solid;
      border-radius: 4px;
      width: 294px;
      height: 55px;
      resize: none;
    }

    #greeting-text {
      height: 75px;
    }
  }

  .delivery-time-container {
    span {
      color: red;
    }

    .delivery-time-boxes {
      .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #e5e5e5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 236px;
        height: 43px;
        margin-bottom: 15px;

        input {
          width: 23px;
          height: 23px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          border: none;
          margin-right: 30px;
        }

        p {
          font-size: smaller;
          margin-left: 20px;
        }
      }
    }
  }

  .time-container {
    display: flex;

    .column {
      padding: 20px;
      display: flex;
      flex-direction: column;
    }

    button {
      background: #c4c4c4;
      color: #fff;
      padding: 5px;
      border-radius: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border: none;
      margin-bottom: 10px;
      width: 107px;
      height: 37px;

      &:hover {
        background: #32936f;
      }
      &:focus {
        background: #32936f;
      }
    }
  }

  button {
    background: #32936f;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border: none;
    margin-bottom: 10px;
    width: 107px;
    height: 37px;
  }

  .delivery-option {
    margin-bottom: 30px;
    input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }
    label {
      text-align: center;
      width: 236px;
      height: 30px;
      display: inline-block;
      background-color: #e5e5e5;
      padding: 10px 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      margin-top: 15px;
      &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
      }
    }

    input[type="radio"]:checked + label {
      background-color: #32936f;
      color: white;
    }
  }

  .delivery-times {
    margin-bottom: 30px;
    input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }
    label {
      text-align: center;
      width: 85px;
      height: 20px;
      display: inline-block;
      background-color: #e5e5e5;
      padding: 10px 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      margin-top: 15px;
      font-size: 70%;
      &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
      }
    }

    input[type="radio"]:checked + label {
      background-color: #32936f;
      color: white;
    }
  }

  ::-webkit-datetime-edit {
    padding-left: 40px;
    padding-right: 40px;
  }
  ::-webkit-datetime-edit-fields-wrapper {
    border: none;
  }
  ::-webkit-datetime-edit-text {
    padding: 0 0.5em;
  }
  ::-webkit-datetime-edit-month-field {
  }
  ::-webkit-datetime-edit-day-field {
  }
  ::-webkit-datetime-edit-year-field {
  }
  ::-webkit-inner-spin-button {
    display: none;
  }
  ::-webkit-calendar-picker-indicator {
    color: green;
  }

  #other {
  }

  #choose {
    text-align: center;
  }
}
