<form #f="ngForm" [ngFormOptions]="{updateOn: 'blur'}" novalidate>
    <h2>Leveransinformation</h2>
    <div class="delivery-info-container">
        <select id="selectOne" name="selectOne" ngModel={{localFormData.selectOne}}>
            <option id="delivery" value="Leverans till adress">Leverans till adress</option>
            <option id="pickup" value="Hämtar i restaurang">Hämtar i restaurang</option>
          </select>
        <div class="input-container">
            <div class="input-content-container">
                <img src="../../../assets/images/svg/guest.svg">
                <p>Namn</p>
            </div>
            <input type="text" name="name" placeholder="Mottagarens namn" ngModel={{localFormData.name}} >
        </div>

        <div class="input-container">
            <div class="input-content-container">
                <img src="../../../assets/images/svg/mail.svg">
                <p>Email</p>
            </div>
            <input type="email" name="email" placeholder="Email" ngModel={{localFormData.email}}>
        </div>

        <div class="input-container">
            <div class="input-content-container">
                <img src="../../../assets/images/svg/telephone.svg">
                <p>Telefon</p>
            </div>
            <input type="phone" name="phone" placeholder="Telefon" ngModel={{localFormData.phone}}>
        </div>
 <!-- <ng-container *ngIf="localFormData.selectOne === 'Leverans'">  -->
        <div class="input-container">
            <div class="input-content-container">
                <img src="../../../assets/images/svg/adress.svg">
                <p>Adress</p>
            </div>
            <input type="text"  name="address" placeholder="Adress" ngModel={{localFormData.address}}>
        </div>

        <div class="input-container">
            <div class="input-content-container">
                <img src="../../../assets/images/svg/post-number.svg">
                <p>Postnummer</p>
            </div>
            <input type="text"  name="postnumber" placeholder="Postnummer" ngModel={{localFormData.postnumber}}>
        </div>
  <!--   </ng-container>  -->
        </div> 
  
    <div class="textarea-main">
        <div class="textarea-container">
            <div class="textarea-content-container">
                <p>Meddelande till bud</p>
                <img src="../../../assets/images/svg/alert.svg">
            </div>
            <textarea class="text"  name="textarea" placeholder="Extra information till bud (portkod, våning, mm)" ngModel={{localFormData.textarea}}></textarea>
        </div>
    </div>



<select id="select" name="select" ngModel={{localFormData.select}}>
  <option value="Snarast">Snarast</option>
  <option value="Annat datum/tid">Annat datum/tid</option>
</select>

<!-- <input (click)="checkBoxValue()" type="checkbox" id="checkbox1" value={test} name="pickup">
 -->
    <div class="time-container">
        <div class="column">
                <button>15:00 - 16:00></button> 
                <button>17:00 - 18:00</button>
                <button>19:00 - 20:00</button>
            </div>
           
            <div class="column">
                <button>16:00 - 17:00</button>
                <button>18:00 - 19:00</button>
                <button>20:00 - 21:00</button>
            </div>
        </div>
        <a routerLink="/order-overview">
    <button type=submit (click)="submit(f.value)">Nästa</button>
        </a>
</form>
