<div class="container">
    <h2>Leveransinformation</h2>

    <div class="delivery-info-container">
        <div class="input-container">
            <div class="input-content-container">
                <img src="../../../assets/images/svg/guest.svg">
                <p>Namn</p>
            </div>
            <input type="text" placeholder="Mottagarens namn">
        </div>

        <div class="input-container">
            <div class="input-content-container">
                <img src="../../../assets/images/svg/mail.svg">
                <p>Email</p>
            </div>
            <input type="email" placeholder="Email">
        </div>

        <div class="input-container">
            <div class="input-content-container">
                <img src="../../../assets/images/svg/telephone.svg">
                <p>Telefon</p>
            </div>
            <input type="phone" placeholder="Telefon">
        </div>

        <div class="input-container">
            <div class="input-content-container">
                <img src="../../../assets/images/svg/adress.svg">
                <p>Adress</p>
            </div>
            <input type="text" placeholder="Adress">
        </div>

        <div class="input-container">
            <div class="input-content-container">
                <img src="../../../assets/images/svg/post-number.svg">
                <p>Postnummer</p>
            </div>
            <input type="text" placeholder="Postnummer">
        </div>
    </div>

    <div class="textarea-main">
        <div class="textarea-container">
            <div class="textarea-content-container">
                <p>Meddelande till bud</p>
                <img src="../../../assets/images/svg/alert.svg">
            </div>
            <textarea class="text" placeholder="Extra information till bud (portkod, våning, mm)"></textarea>
        </div>
        <div class="textarea-container">
            <div class="textarea-content-container">
                <p>Skicka en hälsning</p>
                <img id="greeting" src="../../../assets/images/svg/greeting.svg">
            </div>
            <textarea id="greeting-text"
                placeholder="Skriv din hälsning till någon du vill ge en god soppa till här..."></textarea>
        </div>
    </div>

    <div class="delivery-time-container">
        <h4>Välj leveransdag/tid <span>*</span></h4>
        <div class="delivery-time-boxes">
            <div class="box">
                <p>Snarast</p>
                <input type="checkbox" name="asap" value="">
            </div>
            <div class="box">
                <p>Upphämtning</p>
                <input type="checkbox" name="asap" value="">
            </div>
            <div class="box">
                <p>Annan datum/tid</p>
                <input type="checkbox" name="asap" value="">
            </div>
        </div>
    </div>

    <div class="time-container">
        <div class="column">
                <button>15:00 - 16:00</button>
                <button>17:00 - 18:00</button>
                <button>19:00 - 20:00</button>
            </div>
           
            <div class="column">
                <button>16:00 - 17:00</button>
                <button>18:00 - 19:00</button>
                <button>20:00 - 21:00</button>
            </div>
        </div>
        
    




</div>