<app-wizard></app-wizard>
<div class="container">
    <h2>Tack för din beställning!</h2>

    <div class="card-overview">
      <div class="icon-wrapper">
        <img src="../../../assets/images/svg/receipt.svg" id="icon">
        <h4>Kvitto</h4>
        <h5>Leverans:</h5>
      </div>
        <table>
        <tbody>
        
      <tr>
        <th align="left"></th>
        <th align="left"></th>
      </tr>
      <tr>
        <td>Kund:</td> 
        <td>{{receiptData.name}}</td>
      </tr>
      <tr>
        <td>Orderdatum:</td> 
        <td>{{receiptData.date}}</td>
      </tr>
      <tr>
        <td>Leveransval:</td> 
        <td>{{receiptData.option}}</td>
      </tr>
      <ng-container *ngIf="receiptData.option === 'Hämtar i restaurang'">
        <tr>
          <td>Restaurangadress:</td> 
          <td>Odengatan 5</td>
        </tr>
      </ng-container>
      <tr>
        <td>Leveransval (tid):</td> 
        <td>{{receiptData.deliveryOption}}</td>
      </tr>
      <ng-container *ngIf="receiptData.option === 'Leverans till adress'">
      <tr>
        <td>Leveransadress:</td> 
        <td>{{receiptData.adress}}</td>
      </tr>
    </ng-container>
   
     
     <ng-container *ngIf="receiptData.message">
        <h5>Meddelande till bud:</h5> 
        <p>{{receiptData.message}}</p>
      </ng-container>
    </tbody>
    </table>
    <h5>Din order:</h5>
    <table>
      <tbody>
        <tr>
          <th align="left">Soppa</th>
          <th align="left">Antal</th>
        </tr>
    <tr *ngFor="let soup of soupReceiptData">
      <td id="soupTitle" *ngIf="soup.title">{{soup.title}}</td> 
      <td *ngIf="soup.amount">{{soup.amount}} st</td>
    </tr>
  </tbody>
  </table>
    <hr>
    <h5>Order id: #00217 </h5>
  <h4>{{receiptData.totalSum}}</h4> 
</div>
</div>