.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin-top: 55px;
}

.card-overview {
  width: 90%;
  max-width: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .icon-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  img {
    width: 35px;
    height: 35px;
  }

  table {
    border-collapse: collapse;
    width: inherit;
    width: 100%;
    margin-bottom: 20px;
  }

  th {
    border-bottom: 2px solid #c4c4c4;
    padding: 10px;
    font-size: 80%;
  }
  td {
    border-bottom: 1px solid #c4c4c4;
    padding: 10px;
    font-size: smaller;
  }

  h5 {
    margin: 0px;
    margin-top: 5px;
  }

  p {
    font-size: 75%;
    margin: 0px;
  }
}
