<div class="card-wrapper" (click)="onCardClicked()">
    <img src="{{soup.img}}" class="soup-img">
    <div class="name-info-wrapper">

        <h3>{{soup.name}}</h3>
        <p>Klicka på kortet för att läsa mer / redigera</p>
    </div>
    <hr>
    <div class="text-button-wrapper">
        <p>{{soup.text}}</p>
        <button class=" add-btn" (click)="addSoups();$event.stopPropagation()">+1</button>
    </div>
    <hr>
    <div class="time-price-wrapper">
        <div class="time-price-item">
            <img src="../../../assets/images/svg/time.svg" id="time-icon">
            <p>{{soup.minutes}} min</p>
        </div>
        <p>Pris: {{soup.price}} Kr</p>
    </div>
</div>