/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #32936F;

body {
    margin: 0px;
    margin-bottom: 100px;;
    padding: 0px;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
  /*  height: 100vh; */
}
