/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

$primary: #32936f;

body {
  margin: 0px;
  /*  margin-bottom: 68px; */
  /*   margin-top: 50px; */
  padding: 0px;
  font-family: "Nunito", "sans-serif";
  font-size: 18px;
  background: #f8f8f8;
  /*  height: 100vh; */
}

button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
  }

  &:active {
    transform: translateY(3px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: none;
  }
}

input:focus {
  outline: none !important;
  border: 1px solid #32936f;
  box-shadow: 0 0 5px #32936f;
}

textarea:focus {
  outline: none !important;
  border: 1px solid #32936f;
  box-shadow: 0 0 5px #32936f;
}
