.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 25px;

  .soup-overview {
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;

    table {
      border-collapse: collapse;
      width: inherit;
    }

    .icon-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      margin-top: 15px;

      img {
        width: 30px;
        height: 30px;
      }
    }

    th {
      border-bottom: 2px solid #c4c4c4;
      padding: 10px;
    }
    td {
      border-bottom: 1px solid #c4c4c4;

      img {
        width: 20px;
        height: 20px;
      }
    }

    .header {
      font-weight: bolder;
    }
  }
  td {
    font-size: smaller;
    /* width: 9%; */
    padding: 10px;
  }
}
