<app-bottom-nav></app-bottom-nav>
<app-wizard></app-wizard>
<div class="container">
    <h2>Orderöversikt</h2>

    <div class="card-overview">
      <div class="icon-wrapper">
        <img src="../../../assets/images/svg/list.svg" id="icon" alt="icon of list">
        <h4>Orderinfo</h4>
      </div>
        <table>
        <tbody>
      <tr>
        <th align="left">Soppa</th>
        <th align="left">Antal</th>
        <th align="left">Ändra</th>
      </tr>
      <ng-container>
      <tr *ngFor="let soup of store">
        <td id="soupTitle" *ngIf="soup.amount">{{soup.title}}</td> 
        <td *ngIf="soup.amount">{{soup.amount}} st</td>
        <td *ngIf="soup.amount"><img (click)="this.router.navigate(['/soup', soup.title]); updateSoup()" src="../../../assets/images/svg/edit.svg" alt="icon of pen on a block"></td>
      </tr>
    </ng-container>
    </tbody>
    </table>
  <!--   <div *ngIf="kitchenNotified && kitchenNotified !== ''" class="kitchen-message"> 
      <h6 >Meddelande till köket sparat</h6>
      <img src="../../../assets/images/svg/checkmark.svg" alt="icon of a checkmark">
    </div> -->
    <h5 id="totalSum">Total summa att betala: {{calcTotalSum()}} kr </h5>
</div>
   
<div class="card-overview">
      <div class="icon-wrapper">
        <img src="../../../assets/images/svg/bike.svg" id="icon" alt="bike icon">
        <h4>Leveransinfo</h4>
        <h6 *ngIf="localData.selectOne === 'Hämta'">Kunden hämtar i restaurang</h6>
        <div class="icon-edit-wrapper" (click)="this.router.navigate(['/delivery-info'])">
          <img src="../../../assets/images/svg/edit.svg" id="edit-icon" alt="icon of pen on a block">
          <h5>Ändra</h5>
        </div>
        
      </div>
        <table>
        <tbody>
      <tr>
        <th align="left"></th>
        <th align="left"></th>
      </tr>
      <tr>
        <td>Namn:</td> 
        <td id="name">{{localData.name}}</td>
      </tr>
      <tr>
        <td>Telefon:</td> 
        <td>{{localData.phone}}</td>
      </tr>
      <tr>
        <td>Email:</td> 
        <td>{{localData.email}}</td>
      </tr>
     <!--  <ng-container *ngIf="localData.selectOne === 'Leverans'" > -->
      <tr>
        <td>Adress:</td> 
        <td id="adress">{{addressData.address}}</td>
      </tr>
      <tr>
        <td>Postnummer:</td> 
        <td>{{addressData.postnumber}}</td>
      </tr>
      <tr>
        <td>Ort:</td> 
        <td>{{addressData.ort}}</td>
      </tr> 
    </tbody>
    </table>
    <ng-container *ngIf="localData.deliveryOption === 'Leverans till adress'">
      <div class="message">
        <h5>Meddelande till bud:</h5> 
        <p id="message">{{localData.textarea}}</p>
      </div>
    </ng-container>
    
    <hr>
    <div class="time-container">
      <div class="img-title">
        <img src="../../../assets/images/svg/time.svg" id="edit-icon" alt="icon of clock">
        <h4>Tid & leveransval</h4>
      </div>  
      <table>
        <tbody>
      <tr>
        <th align="left"></th>
        <th align="left"></th>
      </tr>
      <tr>
        <td>Leveransval:</td> 
        <td id="option">{{localData.deliveryOption}}<br>{{localData.deliveryTime}}</td>
      </tr>
      <tr>  
        <td>Valt datum:</td> 
        <td *ngIf="localData.deliveryTime === 'Snarast'">{{today}}</td>
        <td *ngIf="localData.deliveryTime === 'Annat datum/tid'">{{localData.date}}</td>
      </tr>
      <tr>
        <td>Vald tid:</td> 
        <td *ngIf="localData.deliveryTime === 'Snarast'" id="deliveryOption">Snarast (ca 30 minuter från order)</td>
        <td *ngIf="localData.deliveryTime === 'Annat datum/tid'" id="deliveryOption">{{localData.time}}</td>
      </tr>
      
      <ng-container *ngIf="localData.select === 'Snarast'">
      <tr>
        <td>Beräknad tid efter order:</td> 
        <td>30 minuter</td> 
      </tr>
    </ng-container>
    <ng-container *ngIf="localData.select === 'Annat datum/tid'">
      <tr>
        <td>Beställd tid:</td> 
        <td>16.30</td> 
      </tr>
    </ng-container>
 <tr *ngIf="localData.deliveryOption === 'Hämtar i restaurang'">
      <td>Restaurangadress:</td> 
      <td>Odengatan 5</td> 
    </tr> 
    </tbody>
    </table>
    </div>
</div>
<h2>Betalning</h2>

    <div class="card-overview">
      <div class="icon-wrapper">
        <img src="../../../assets/images/svg/payment.svg" id="icon">
        <h4>Välj betalningsmetod</h4>
      </div>
      <div class="button-wrapper">
        <button (click)="this.router.navigate(['/confirmation']); submitReceipt(); removeAllSoups()">
          <div class="button-content">
            <img src="../../../assets/images/svg/mastercard.svg" alt="mastercard icon">
            <p>Betalkort</p>
          </div>
        </button>
        <button (click)="this.router.navigate(['/confirmation']); submitReceipt(); removeAllSoups()">
          <div class="button-content">
            <img src="../../../assets/images/svg/swish.svg" id="swish" alt="swish icon" >
          </div>
        </button>
      </div> 
</div>
</div>

<!-- ; removeLocal() -->