<div class="container">
    <h2>Orderöversikt</h2>

    <div class="card-overview">
      <div class="icon-wrapper">
        <img src="../../../assets/images/svg/list.svg" id="icon">
        <h4>Orderinfo</h4>
      </div>
        <table>
        <tbody>
      <tr>
        <th align="left">Soppa</th>
        <th align="left">Antal</th>
        <th align="left">Ändra</th>
      </tr>
      <tr *ngFor="let soup of store">
        <td *ngIf="soup.title">{{soup.title}}</td> 
        <td *ngIf="soup.amount">{{soup.amount}} st</td>
        <td *ngIf="soup.title"><img (click)="this.router.navigate(['/soup', soup.title])" src="../../../assets/images/svg/edit.svg"></td>
      </tr>
    <h5>Total summa att betala: {{calcTotalSum()}} kr </h5>
    </tbody>
    </table>
</div>
   
<div class="card-overview">
      <div class="icon-wrapper">
        <img src="../../../assets/images/svg/bike.svg" id="icon">
        <h4>Leveransinfo</h4>
        <div class="icon-edit-wrapper" (click)="this.router.navigate(['/delivery-info'])">
          <img src="../../../assets/images/svg/edit.svg" id="edit-icon">
          <h5>Ändra</h5>
        </div>
        
      </div>
        <table>
        <tbody>
      <tr>
        <th align="left"></th>
        <th align="left"></th>
      </tr>
      <tr>
        <td>Namn:</td> 
        <td>{{localData.name}}</td>
      </tr>
      <tr>
        <td>Adress:</td> 
        <td>{{localData.address}}</td>
      </tr>
      <tr>
        <td>Postnummer:</td> 
        <td>{{localData.postnumber}}</td>
      </tr>
      <tr>
        <td>Ort:</td> 
        <td>Stockholm</td>
      </tr>
      <tr>
        <td>Telefon:</td> 
        <td>{{localData.phone}}</td>
      </tr>
      <tr>
        <td>Email:</td> 
        <td>{{localData.email}}</td>
      </tr>
    <h5>Meddelande till bud: {{localData.textarea}}</h5>
    </tbody>
    </table>
</div>
</div>

