<div class="container">
    <h2>Orderöversikt</h2>

    <div class="soup-overview">
      <div class="icon-wrapper">
        <img src="../../../assets/images/svg/list.svg" id="icon">
      </div>
        <table>
        <tbody>
      <tr>
        <th align="left">Soppa</th>
        <th align="left">Antal</th>
        <th align="left">Ändra</th>
      </tr>
      <tr *ngFor="let soup of store">
        <td *ngIf="soup.title">{{soup.title}}</td> 
        <td *ngIf="soup.amount">{{soup.amount}} st</td>
        <td *ngIf="soup.title"><img (click)="this.router.navigate(['/soup', soup.title])" src="../../../assets/images/svg/edit.svg"></td>
      </tr>
    <h5>Total summa att betala: {{store.length * soups[0].price}} kr </h5>
    </tbody>
    </table>
</div>
</div>

